MASK_RCNN_V1_PATH="https://drive.google.com/file/d/1HBo9xJXSTkQkAHKrbgHFptVtZg-0kBB4/view?usp=sharing"
YOLO_V8_PATH="https://drive.google.com/file/d/19q4FulQTz2rot074mA8R537CAREDtRz1/view?usp=sharing"
STORAGE="gdrive"
USE_GPU=false